<ul class="list-group" *ngIf="movies">
  <li
    (click)="movieSelected.emit(movie)"
    *ngFor="let movie of movies; index as i"
    class="list-group-item d-flex justify-content-between">
    <span>{{ movie.title }}</span>
    <div class="buttons">
      <button
        class="btn"
        (click)="$event.stopPropagation(); onDelete(i)">✖︎</button>
      <button
        class="btn"
        (click)="movie.isEditable = !movie.isEditable">
        {{ movie.isEditable? '✔︎' : '✎' }}
      </button>
    </div>
  </li>
</ul>