<app-book-details [hello]="greetings" [subTitle]="subTitleParent" [book]="bookParent"
    (eventFromChild)="test='Event received'">
</app-book-details>
<p>{{test}}</p>

<app-parent></app-parent>

<app-child1 [count]="count"></app-child1>
<app-child2 (incrementCount)="inc()" (decrementCount)="count = count - 1">
</app-child2>
<br>-------------------------------------------------------------------------------------<br>
--> Directives d'attributs (ex: ngStyle, ngClass)
--> Directives structurelles (ex: *ngIf, *ngFor, *ngSwitchCase)
<h1 *ngIf="!logged">Connectez-vous</h1>

<h1 title="Mon titre" [class.active]="true" [style.color]="'purple'" [style.background-color]="'#ccc'"
    [style.font-size.rem]="2" [style.height.px]="10" *ngIf="logged">
    Bienvenue Coco !
</h1>

<div [ngSwitch]="typeOfPerson">
    <h1 *ngSwitchCase="'child'">Coucou mon ami !</h1>
    <h1 *ngSwitchCase="'woman'">Bonjour madame</h1>
    <h1 *ngSwitchCase="'man'">Bonjour monsieur</h1>
    <h1 *ngSwitchDefault>Bonjour à vous !</h1>
  </div>

  <ul [attr.type]="'circle'"> <!-- type is deprecated -->
    <li *ngFor="let value of ['coco', 'jaco', 'pedro']; let i = index">
      {{ i+1 }} --> {{ value }}
    </li>
  </ul>
  <br>-------------------------------------------------------------------------------------<br>
  EXERCICE 